# Database
DATABASE_URL=postgresql://jobhive_user:12345678@localhost:5432/jobhive_db
JWT_SECRET_KEY=tonmoy123
AFFINDA_API_KEY=aff_9f97a6f1ee85453a148c112acf5309eae43554ae

EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USER=96235e001@smtp-brevo.com
EMAIL_PASS=62FQPrc45q9YKA3N
EMAIL_FROM=tonmoyk983@gmail.com
